import React from "react";
import PropTypes from "prop-types";
import style from "./{{dashCase componentName}}.scss";

const {{componentName}} = () => (
	<div className={style.main}>{{componentName}}</div>
);

{{componentName}}.propTypes = {
	
}

export default {{componentName}};